html {
  box-sizing: border-box;

  @-moz-viewport { width: device-width; scale: 1; }
  @-ms-viewport { width: device-width; scale: 1; }
  @-o-viewport { width: device-width; scale: 1; }
  @-webkit-viewport { width: device-width; scale: 1; }
  @viewport { width: device-width; scale: 1; }
}

*, *::before, *::after {
  box-sizing: inherit;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.video-box {
  width: 100%;
  margin: 0 auto 2rem;
  display: flex;
}
 video {
   max-width: 50em;
   display: block;
   margin: auto;
 }

body {
  color: #0a0026;
  text-align: center;
  margin: 0;
}

.gutter {
  margin: 0 1rem;
}

h1 {
  color: #5c1be8;
}

p {
  max-width: 32em;
  display: block;
  width: 100%;
  margin: 1rem auto 0;
}

footer p {
  margin: 5rem auto;
  font-size: 0.8rem;
}
