:root {
	--color-primary: #FFF;
	--color-secondary: #0A0026;
	--color-accent: #5C1BE8;
	--color-hover: #B30036;
	--color-error: #5C001C;

	/* The stylings for dark mode */
	--color-primary-dark: #0A0026;
	--color-secondary-dark: #FFF;
	--color-accent-dark: #05C2B7;
	--color-hover-dark: #FF6859;
	--color-error-dark: #FF9F94;

	--font-primary: Helvetica, Arial, sans-serif;

	/* @var The standard border radius for buttons */
	--border-radius: 0;
}

html {
	font-family: var(--font-primary);
	color: var(--color-secondary);
	font-weight: lighter;
}


mark {
	background-color: var(--color-accent);
	color: var(--color-primary);
}

blockquote {
	border-top: 2px solid var(--color-accent);
	border-bottom: 2px solid var(--color-accent);
}

h2 {
	color: var(--color-accent);
}

/* Base styles for links and navigations */

a {
	color: var(--color-accent);
	transition: all .6s ease-in-out;
}

nav a {
	color: var(--color-secondary);
	text-decoration: none;
}

.current a {
	color: var(--color-accent);
	transition: all .4s ease-in-out;
}

a:hover,
a:focus,
nav a:hover,
nav a:focus {
	color: var(--color-hover);
	transition: all .2s ease;
}

svg {
  /* `currentColor` allows the color to inherit from the `color` attribute */
  fill: currentColor;
}

/* Style skip links to match site colour scheme */
.skip-links a,
.skip-links button {
	border-radius: var(--border-radius);
	border: 2px solid var(--color-accent);
	background-color: var(--color-accent);
	color: var(--color-primary);
}

.skip-links a:focus,
.skip-links button:focus {
  background-color: var(--color-hover);
  border-color: var(--color-hover);
}

/* Style secondary navigation in project files */
.secondary-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
