<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>{{page.title}}</title>
  <meta name="description" content={{page.seo}}>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="shortcut icon" href="favicon.ico">
  <link rel="icon" type="image/png" href="favicon-196.png">
  <link href="/css/main.css" rel="stylesheet">
</head>
<body>
  <ul class="skip-links">
    <li><a href="#nav">Skip to navigation</a></li>
    <li><a href="#main">Skip to the main content</a></li>
  </ul>

  <header>
    <nav class="nav wrapper gutter-1-2 flex" id="nav" role="navigation">
      <ul class="list-group-inline text-upper pad-t-1-2 push-1-2">
        <li class="{% if page.highlight_nav == 'projects' %}current{% endif %} push-r-1-2"><a href="/index/">Projects</a></li>
        <li class="{% if page.highlight_nav == 'about' %}current{% endif %} push-r-1-2"><a href="/about/">About</a></li>
        <li class="right bold"><a href="/index/">MK Design</a></li>
      </ul>
    </nav>
  </header>

  <main class="wrapper" id="main" role="main">
    {{content}}
  </main>

  <footer role="contentinfo">
    <p class="micro push-1-2 text-center gutter">© MK Design 2020</p>
  </footer>
</body>
</html>
