<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>{{page.title}}</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="description" content="{{page.seo}}">
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{page.title}}">
  <meta property="og:url" content="{{page.href}}">
  <meta property="og:image" content="{{page.preview}}">
  <meta property="og:site_name" content="MK Design">
  <meta property="og:description" content="{{page.seo}}">
  <meta property="og:locale" content="en_CA">
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="icon" type="image/png" href="/favicon-196.png">
  <link href="/css/main.css" rel="stylesheet">
</head>
<body class="wrapper">
  <ul class="skip-links">
    <li><a href="#nav">Skip to navigation</a></li>
    <li><a href="#main">Skip to the main content</a></li>
  </ul>

  {{content}}

  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "WebSite",
      "name": "MK Design",
      "description": "Design in the form of user experiences, informed SNS marketing solutions, and strategic brands that spark joy.",
      "image": "https:/kenzie.design/images/social-light.jpg",
      "url": "https://kenzie.design",
      "keywords": "Web, Responsive, HTML, CSS, Mobile, Development, UI, UX, Graphic Design"
    }
  </script>
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Person",
      "jobTitle": "Graphic Designer",
    }
  </script>
</body>
</html>
