---
layout: default
---
<header class="island">
	{% pattern navigations/header %}
</header>

<main class="grid pad-t pad-b-2" id="main" role="main">
	{% pattern navigations/secondary %}
	<div class="unit [ xs-1 s-1 m-1 l-1 xl-1 ] pad-t pad-b">
		<div class="grid">
			<div class="unit [ xs-1 s-1 m-1 l-2-3 xl-2-3 ] gutter pad-t-2">
				<h2 class="mega push-0">Project Concept</h2>
				{% pattern {{page.named}}/brief.html %}
			</div>
		</div>
	</div>
	<div class="unit [ xs-1 s-1 m-1 l-1 xl-1 ] pad-t pad-b">
		<div class="grid">
			<div class="unit unit-content-distribute [ xs-1 s-1 m-1 l-2-3 xl-2-3 ] gutter">
				<h2 class="mega push-0">Research</h2>
				{% pattern {{page.named}}/research.html %}
				<div class="content-fill pad-t"></div>
			</div>
			<div class="unit unit-content-distribute [ xs-1 s-1 m-1 l-2-3 xl-2-3 ] gutter">
				<h2 class="mega push-0">Ideate</h2>
				{% pattern {{page.named}}/ideate.html %}
				<div class="content-fill"></div>
			</div>
			<div class="unit unit-content-distribute [ xs-1 s-1 m-1 l-2-3 xl-2-3 ] gutter">
				<h2 class="mega push-0">Create</h2>
				{% pattern {{page.named}}/create.html %}
				<div class="content-fill"></div>
			</div>
		</div>
	</div>
	<div class="unit [ xs-1 s-1 m-1 l-1 xl-1 ]">
		<div class="grid">
			<div class="unit [ xs-1 s-1 m-1-2 l-1-2 xl-1-2 ] pad-b pad-t gutter">
				<h2 class="mega push-0">Final Product</h2>
				{% pattern {{page.named}}/final.html %}
			</div>
			<div class="unit [ xs-0 s-0 m-1-2 l-1-2 xl-1-2 ] island">
				<img src="{{page.finalproduct-image}}" class="img-flex" alt="{{page.finalproduct-alt}}">
			</div>
		</div>
	</div>
	<div class="unit [ xs-1 s-1 m-1 l-1 xl-1 ] pad-b-2">
		<img src="{{page.finalproduct-mockup}}" class="island img-flex" alt="{{page.mockup-alt}}">
	</div>
	{% pattern navigations/secondary %}
</main>

<footer role="contentinfo" class="island">
	{% pattern navigations/footer %}
</footer>

  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "CreativeWork",
      "name": "{{page.title}}",
      "author": {
        "@type": "Person",
        "@id": "#mackenzie"
      },
      "description": "{{page.seo}}",
      "image": "{{page.image}}",
      "url": "{{page.href}}",
      "keywords": "{{page.keywords}}""
    }
  </script>
